<template>
  <div>
    <loading v-if="loading"/>
      <div v-if="isAuthenticated">
        <div>
        <button id="startbutton" v-on:click="starttest" class="justbutton">Начать тест</button>
        <div id="testbar" style="display: none" class="login">
          <label>до окончания теста осталось {{value}} секунд</label>
          <div class="progress">
            <div id="bar" class="progress-bar" role="progressbar" :aria-valuenow="value" aria-valuemin="0" aria-valuemax="30" style="width: 100%">{{value}}</div>
          </div>
        </div>
        <div id="testresult" style="display: none" class="login">
          <label>результат теста линии: {{result}} импульсов</label>
          <button v-on:click="reset">Очистить тест</button>
        </div>
      </div>
    </div>
    <div v-if="!isAuthenticated && authStatus !== 'loading'">
      <h1>Welcome to Homepage !</h1>
      <p>This page was made for Eltex school using article from</p>
      <a href="https://blog.sqreen.com/authentication-best-practices-vue/">https://blog.sqreen.com/authentication-best-practices-vue/</a>
    </div>
  </div>
</template>

<style>
  .home {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
</style>

<script>
  import fakeFeed from './fakeFeed'
  import FeedItem from './feedItem.vue'
  import { mapGetters } from 'vuex'
  import Login from 'components/login'

  export default {
    components: {
      Login,
      FeedItem
    },
    name: 'home',
    computed: {
      ...mapGetters(['isAuthenticated', 'authStatus']),
      loading: function () {
        return this.authStatus === 'loading' && !this.isAuthenticated
      }      
    },
    data () {
      return { 
        fakeFeed,
        value: 30,
        max: 30,
        status: 'clear',
        array: [],
        result: 0,
        timer: null
      }
    },
    methods: {
      starttest: function () {
        this.status = 'started'
        this.value = this.max
        localStorage.setItem('status', this.status)
        localStorage.setItem('value', this.value)
        var object = document.getElementById('startbutton')
        object.style.display = 'none'
        var object = document.getElementById('testbar')
        object.style.display = 'block'
        
        this.timer = setInterval(() => {
          this.value = this.value - 1
          localStorage.setItem('value', this.value)
          object = document.getElementById('bar')
          object.style.width = (this.value / this.max * 100).toString() + '%'
        }, 1000)
        
        setTimeout(() => {
          clearInterval(this.timer)
          this.getresult()
          }, this.max * 1000)
      },
      getresult: function () {
        this.status = 'finished'
        localStorage.setItem('status', this.status)
        var object = document.getElementById('testbar')
        object.style.display = 'none'
        object = document.getElementById('testresult')
        object.style.display = 'block'
        let rand = Math.random() * (this.array.length + 1) - 0.5
        var pos = Math.round(rand)
        if (pos >= 0) {
          this.result = this.array[pos]
          localStorage.setItem('result', this.result)
        }
      },
      reset: function () {
        this.status = 'clear'
        localStorage.removeItem('status')
        localStorage.removeItem('value')
        localStorage.removeItem('result')
        var object = document.getElementById('testresult')
        object.style.display = 'none'
        object = document.getElementById('startbutton')
        object.style.display = 'block'
        this.result = 0
      }
    },
    mounted () {
      let i = 1002
      while (i <= 1010) {
        this.array.push(i)
        i++
      }
      this.array.splice(this.array.indexOf(1007), 1)
      this.array.splice(this.array.indexOf(1009), 1)
      
      if (localStorage.getItem('status') == 'started') {
        this.status = 'started'
        this.value = localStorage.getItem('value')
        var object = document.getElementById('testbar')
        object.style.display = 'block'
        object = document.getElementById('startbutton')
        object.style.display = 'none'
        this.timer = setInterval(() => {
          this.value = this.value - 1
          localStorage.setItem('value', this.value)
          object = document.getElementById('bar')
          object.style.width = (this.value / this.max * 100).toString() + '%'
        }, 1000)
        
        setTimeout(() => {
          clearInterval(this.timer)
          this.getresult()
          }, this.value * 1000)
      }
      if (localStorage.getItem('status') == 'finished') {
        this.status = 'finished'
        this.result = localStorage.getItem('result')
        var object = document.getElementById('testresult')
        object.style.display = 'block'
        object = document.getElementById('startbutton')
        object.style.display = 'none'
      }
    },
  }
</script>
