<template>
  <div>
    <div class="container">
      <form id="login-form" class="login" @submit.prevent="login">
        <h1>Sign in</h1>
        <label>User name</label>
        <input required v-model="username" type="text" placeholder="Snoopy" class="inbox"/>
        <label>Password</label>
        <input required v-model="password" type="password" placeholder="Password" class="inbox"/>
        <hr/>
        <button type="submit" class="inbox">Login</button>
      </form>
      <div id="error-container" class="login" style="display: none">
        <label style="text-align: center">Wrong username/password</label>
        <button type="button" class="inbox" @click.left="showhide">Close</button>
      </div>
    </div>
  </div>
</template>

<style>
  .login {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
  }
  .container{
    width: 100%;
    min-width: 300px;
    max-width: 430px;
    min-height: 320px;
    padding: 15px;
    margin: 0 auto;
    border: solid;
    border-radius: 50px;
    border-width: 10px;
    border-top-style: none;
    border-bottom-color: rgb(45, 48, 253);
    border-right-color: rgb(45, 48, 253);
    border-left-color: rgb(45, 48, 253);
    border-left-style: double;
    border-right-style: double;
    border-bottom-style: double;
    background-color: #35bfff;
}
  .inbox{
    border-radius: 5px; 
  }
</style>

<script>
  import {AUTH_REQUEST} from 'actions/auth'

  export default {
    name: 'login',
    data () {
      return {
        username: 'dogo',
        password: 'dogy',
      }
    },
    methods: {
      login: function () {
        const { username, password } = this
        this.$store.dispatch(AUTH_REQUEST, { username, password }).then(() => {
          this.$router.push('/')
        })
        .catch(() => {
          var object = document.getElementById('error-container')
          object.style.display == 'none' ? object.style.display = 'flex' : object.style.display = 'none'
          object = document.getElementById('login-form')
          object.style.display == 'none' ? object.style.display = 'flex' : object.style.display = 'none'
        })
      },
      showhide: function () {
        var object = document.getElementById('error-container')
        object.style.display == 'none' ? object.style.display = 'flex' : object.style.display = 'none'
        object = document.getElementById('login-form')
        object.style.display == 'none' ? object.style.display = 'flex' : object.style.display = 'none'
      }
    },
  }
</script>
